.app__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}

/* .app__container::before , .app__container::after {
    content:'';
    position: absolute;
    height: 1000px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
} */

.app__container > * {
  margin: 0.5rem;
}

.app_content {
  max-width: 850px;
}

.app_content > * {
  margin-bottom: 0.5rem;
}
